.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 1000px;
  height: 300px;
  margin: 30px 0;
  background-color: #ffffff;
  box-shadow: 1px 2px 5px 3px rgba(131, 130, 130, 0.582);
}

.card-transparent{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5%;
  left: 2.5%;
  width: 95%;
  height: 90%;
  z-index: 1;
  color: rgba(0, 0, 0, 0);
  font-size: 55px;
  font-weight: bold;
  transition: ease 1s background-color;
}

.card-transparent:hover{
  background-color: #ffffff69;
  color: #ffffff;
  text-shadow: rgb(77, 77, 77) 1px 1px 5px;
}

.paragrapheProjet {
  width: 340px;
}

.tecno {
  color: rgb(15, 100, 228);
  font-size: 14px;
}

#microservices, .microserv {
  height: 300px;
  max-width: 594.79px;
  width: auto;
  cursor: pointer;
}

.card-title {
  margin-bottom: 20px;
}

.date {
  color: rgb(33, 63, 228);
}


.microserv {
  position: relative;
}

@media (max-width: 1055px) {
  .card {
    flex-direction: column;
    height: 750px;
    width: 594.79px;
    margin-top: 10px;
  }

  .aboutP{
    width: 90%;
    padding: 0;
    margin-bottom: 50px;
  }
}

@media (max-width: 1055px){
  .card{
    width: 500px;
    height: 700px;
  }

  #microservices{
    width: 500px;
    height: auto;
  }
}

@media (max-width: 515px){
  .card{
    width: 330px;
    height: 600px;
  }

  #microservices{
    width: 330px;
    height: auto;
  }

  .img-btn{
    margin: 0;
    padding: 0;
    width: 250px;
  }

  .paragrapheProjet{
    width: 250px;
  }
}